
@{
    ViewBag.Title = "CatalogueView";
    Layout = "~/Views/Shared/defaultHome.cshtml";
}
<div>
    @Html.ActionLink("Trang Chủ","Index")
    @{ 
        string pcata = ViewBag.PreCata;
        string pcatatext = ViewBag.PreCataText;
        @Html.ActionLink(pcatatext, pcata);
    }
</div>