
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Favorite</title>
</head>
<body>
    <h1>Cho chúng tôi biết mong muốn của bạn</h1>
    @for (int i = 0; i < ViewBag.sanpham.Count && i < 10; i++)
    {

    }
</body>
</html>
