.navbar a {
    text-decoration: none;
    font-size: larger;
    color: #636e72;
}
.navbar{
    margin-top:2vh;
    margin-left:15vw;
    margin-bottom:2vh;
}
.imgca{
    height:13vh;
    width:16vh;
}
.boxes {
    display: inline-block;
    width: 80vw;
    min-height: 15vh;
    text-align: center;
    margin-top: 4vh;
    background-color: white;
}
.datacontainer {
    text-align: center;
    display: inline-block;
    border: 1px solid #b2bec3;
    height: 16vh;
    width: 17vh;
    margin: 2vh 3vh 2vh 3vh;
    padding-top: 1vh;
}
.footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    background-color: #3498db;
}
