
.firstpart {
    align-items: center;
    justify-content: center;
    height: 53vh;
    display: flex;
}
.label1 {
    width: 60vw;
    height: 53vh;
    display: inline-block;
}

.label1txt {
    font-size: 1.7vh;
    font-family: Roboto;
    left:5vw;
    padding-left: 5px;
    line-height:1vh;
}

.catalog {
    display: inline-block;
    width: 15vw;
    height: 47vh;
    background-color: #e67e22;
    padding-top:3vh;
}
.catalogborder {
    display: inline-block;
    width: 15vw;
    height: 50vh;
    padding-top: 3vh;
}
.catalog > a {
    text-decoration: none;
    font-size: 1.7vh;
    font-family: Roboto;
    color: #ffffff;
    padding-left: 1.5vw;
}
.mainlysuggest{
    height:49vh;
    width:60vw;
}
.labelborder{
    height:3vh;
}
.blankspace1 {
    width: 12.5vw;
    height: 50vh;
    display: inline-block;
    background-color: #2c3e50;
    background-clip: content-box;
    padding-top: 3vh
}
.databorder{
    width: 100vw;
    height: 40vh;
    display: table;
}
.maindataul{
    display:inline-block;
    width:65vw;
    height:40vh;
    list-style:none;
    padding-left:25vw;
}
.datali{
    display: inline-block;
    width:10vw;
    height:10vw;
    border-style: solid;
    border-width: 3px;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    text-align:center
}
.label2txt {
    font-size: 1.7vh;
    font-family: Roboto;
    left: 5vw;
    display: inline-block;
    line-height: 3vh;
}
.label2 {
    line-height:3vh;
    margin-left:27.5vw;
    width: 72.5vw;
}
.liimg {
    height: 8vw;
    width: 8vw;
}
.footer {
    background-color: #3498db;
}
.footertext {
    line-height:3.5vh;
    font-size: 1.7vh;
}