@font-face {
    font-family: "Roboto-LightItalic";
    src: url(Roboto-LightItalic.ttf);
    src: local("Roboto-LightItalic"), url(Roboto-LightItalic.ttf), format('truetype');
}

body {
    font-family: Roboto;
}
    .navbar a {
    text-decoration: none;
    font-size: larger;
    color: #636e72;
}
.navbar{
    margin-top:2vh;
    margin-left:15vw;
    margin-bottom:2vh;
}
.imgca{
    height:13vh;
    width:16vh;
}
.boxes {
    margin: auto 0;
    display: inline-block;
    width: 80vw;
    min-height: 15vh;
    text-align: center;
    margin-top: 4vh;
}
.datacontainer {
    text-align: center;
    display: block;
    border: 1px solid #b2bec3;
    height: 16vh;
    width: 17vh;
    margin: 2vh 3vh 2vh 3vh;
    padding-top: 1vh;
    float: left
}
.footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    background-color: #3498db;
}
a {
    text-decoration: none;
}
text {
    text-decoration: none
}